body{
    text-align: center;
    background-color: black;
    margin: 50px 700px;
    color: white;
}
p{
    font-size: large;
    text-align: justify;
}
header{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline solid blue;
}

#victoria{
    color: lightgreen;
    font-style: oblique;
}
#derrota{
    color: red;
    font-style: oblique;
}
button {
    padding: 10px;
    border: 5px solid darkslategrey;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: rgb(66, 141, 141);
    transition: 1s;
  }



  